<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待办事项</title>
</head>
<body>
    <h1>待办事项</h1>
    <h3>welcome</h3>
    <form action="/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" type="submit" >Save</button>
    </form>
    以下待办事项：
    <ol id="myId">
        {% for event in events %}
            <li>{{ event.event_name }}</li>
        {% endfor %}
    </ol>
</body>
</html>

{#<script type="text/javascript">#}
{#    function myfun(){#}
{#        var ul = document.getElementById("myId");#}
{#        var lis = []#}
{#        lis = ul.getElementsByTagName("li");#}
{#        for(var i = 0; i < lis.length; i++ ){#}
{#            lis[i].innerHTML = (i+1) + '.' + ' ' + lis[i].innerHTML ;#}
{#        }#}
{#    }#}
{#    window.onload = myfun;#}
{##}
{#</script>#}